{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block content %}
<h1>Call List</h1>
<div class="table-sm">
 <table class="table table-striped table-bordered">
    <thead class="bg-success">
      <td>CallID</td>
      <td>Time</td>
      <td>Date</td>
      <td>Out or In</td>

    </thead>

   {% for row in rows %}
    <tr class="bg-dark">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td> {{row[3]}}</td>

    </tr>
   {% endfor %}
 </table>
</div>
<a href= "{{ url_for('home') }}" class="btn btn-primary">Return Home</a>
{% endblock %}

