{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block content %}
  <form action = "{{ url_for('addrec') }}" method = "POST">
   <h3>Call Log</h3>
   
   Time Please use Military Time<br>
   <input type = "text" name = "Time" /></br>
   Date MM/DD/YYYY<br>
   <input type = "text" name = "Date" /><br>
   Out or In<br>
   <input type = "text" name = "Out_or_In" /><br>
   <div class="btn-group">
    <input type="submit" value="submit" class="btn">
    <a href="{{ url_for('home') }}" class="btn btn-primary" role="button">Return Home</a>
   </div>
   
  </form>
 
{% endblock %}

 </body>
</html>

